body {
  font-family: "Open Sans";
}

.btn-container {
  display: flex;
  width: 500px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  height: 30px;
  font-family: inherit;
  font-size: 1em;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn:hover {
  cursor: pointer;
}

.row {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  border: 1px solid white;
  height: 50px;
  width: 50px;
}

.red-box {
  background-color: #d81b60;
}
.green-box {
  background-color: #1de9b6;
}
