<html>
  <body>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}?u={{last_updated}}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <div class="btn-container">
      <button class="btn start-btn">Start</button>
      <button class="btn pause-btn">Pause</button>
    </div>

    <div class="row">
      <div><strong>Validator 1</strong></div>
      <div style="margin-left: -25px;"><strong>Validator 2</strong></div>
      <div style="margin-left: -20px;"><strong>Chosen Validator</strong></div>
    </div>

    <div id="data"></div>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}?u={{last_updated}}"></script>
  </body>
</html>
